
<%# unit 4, deliver register activity %>
<% if (title)  { %>
<h1><%= title %></h1>
<% } else {res.redirect ('/')} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
  </ul>
<% } %>

<form class="input-box" action="/account/register" method="post">
  <label
    >First name<input
      type="text"
      name="account_firstname"
      placeholder="John"
      required
      autocomplete="given-name"
      value="<%= locals.account_firstname %>"
  /></label>
  <label
    >Last name<input
      type="text"
      name="account_lastname"
      placeholder="Doe"
      required
      autocomplete="family-name"
      value="<%= locals.account_lastname %>"
  /></label>
  <label
    >Email address<input
      type="email"
      name="account_email"
      placeholder="JohnDoe@mail.com"
      required
      autocomplete="email"
      value="<%= locals.account_email %>"
  /></label>
  <label
    >Password<input
      type="password"
      name="account_password"
      id="password"
      required
      autocomplete="new-password"
      pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s]).{12,}$"
    /></label>
  <span class="fine-print"
    >Password must be at least 6 or 12 characters long, contain at least 1
    capital letter, 1 number, and 1 special character.</span>
    <span class="password-toggle" onclick="togglePasswordVisibility()"
    >Show/Hide Password</span>
    <input type="submit" value="REGISTER"/>
</form>

<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById("password");
    const passwordType =
      passwordInput.type === "password" ? "text" : "password";
    passwordInput.type = passwordType;
  }
</script>
